<a href="https://colab.research.google.com/github/Wilsid-gtg/Big-Data/blob/main/mongo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.7.0)

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://wilsco135:admin1234@cluster0.76dft.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [ ]:
# Contoh Insert Data
employee_data = [
 {'name': 'Alice','department': 'Finance','age': 29,'salary': 4500},
 {'name': 'Ali','department': 'Finance','age': 28,'salary': 4600},
 {'name': 'Joko','department': 'Marketing','age': 31,'salary': 4000},
 {'name': 'John','department': 'Marketing','age': 28,'salary': 3800},
]
collection.insert_many(employee_data)
print('Data inserted')

Data inserted

In [ ]:
# Memperbarui data karyawan
query = {'name': 'Ali'}
new_values = {'$set': {'salary': 4500}}

collection.update_one(query, new_values)
print('Employee salary updated')query = {'name': 'Ali'}

Employee salary updated

In [ ]:
# Menghapus dokumen
delete_query = {'name': 'John'}
collection.delete_one(delete_query)
print('Employee deleted')

Employee deleted

In [ ]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6721840b987d3dd377a8fa8d'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6721840b987d3dd377a8fa8e'), 'name': 'Ali', 'department': 'Finance', 'age': 28, 'salary': 4500}
{'_id': ObjectId('6721840b987d3dd377a8fa8f'), 'name': 'Joko', 'department': 'Marketing', 'age': 31, 'salary': 4000}

In [ ]:
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Marketing', 'average_salary': 4000.0}
{'_id': 'Finance', 'average_salary': 4500.0}

In [10]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://wilsco135:admin1234@cluster0.76dft.mongodb.net/')
db = client['market_db']
collection = db['product']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [ ]:
product_data = [
 {'name': 'Laptop','kategori': 'Elektronik','jumlah': 10,'harga': 4500000},
 {'name': 'Radio','kategori': 'Elektronik','jumlah': 5,'harga': 150000},
 {'name': 'Roti','kategori': 'Makanan','jumlah': 20,'harga': 5000},
 {'name': 'Komputer','kategori': 'Elektronik','jumlah': 10,'harga': 5000000},
 {'name': 'Mouse','kategori': 'Elektronik','jumlah': 15,'harga': 45000},
 {'name': 'Es krim','kategori': 'Makanan','jumlah': 15,'harga': 4500},
 {'name': 'Jaket','kategori': 'Pakaian','jumlah': 10,'harga': 300000},
 {'name': 'Handphone','kategori': 'Elektronik','jumlah': 20,'harga': 3500000},
 {'name': 'Mantel','kategori': 'Pakaian','jumlah': 5,'harga': 500000},
 {'name': 'Celana','kategori': 'Pakaian','jumlah': 10,'harga': 40000},
 {'name': 'Mie','kategori': 'Makanan','jumlah': 30,'harga': 3000},
 {'name': 'Popcorn','kategori': 'Makanan','jumlah': 10,'harga': 10000},
 {'name': 'Daster','kategori': 'Pakaian','jumlah': 15,'harga': 50000},
 {'name': 'Kentang','kategori': 'Makanan','jumlah': 20,'harga': 7000},
 {'name': 'Batik','kategori': 'Pakaian','jumlah': 15,'harga': 150000},
]
collection.insert_many(product_data)
print('Data inserted')

Data inserted

In [21]:
# Menghitung rata-rata harga
average_harga = collection.aggregate([
    {'$group': {'_id': None, 'average_harga': {'$avg': '$harga'}}}
])

# Ambil rata-rata dari hasil agregasi
average_price_value = list(average_harga)[0]['average_harga']
print(f'average harga: {average_price_value}')

average harga: 950966.6666666666

In [8]:
# Mencari produk dengan harga di atas rata-rata
query = {'harga': {'$gt': average_price_value}}
above_average_products = collection.find(query)

# Menampilkan produk
print('Produk dengan harga di atas rata-rata:')
for product in above_average_products:
    print(product)

Produk dengan harga di atas rata-rata:
{'_id': ObjectId('67218b52987d3dd377a8faa3'), 'name': 'Laptop', 'kategori': 'Elektronik', 'jumlah': 10, 'harga': 4500000}
{'_id': ObjectId('67218b52987d3dd377a8faa6'), 'name': 'Komputer', 'kategori': 'Elektronik', 'jumlah': 10, 'harga': 5000000}
{'_id': ObjectId('67218b52987d3dd377a8faaa'), 'name': 'Handphone', 'kategori': 'Elektronik', 'jumlah': 20, 'harga': 3500000}

In [ ]:
pipeline = [
    {'$group': {'_id': '$kategori', 'total_produk': {'$sum': '$jumlah'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Elektronik', 'total_produk': 60}
{'_id': 'Makanan', 'total_produk': 95}
{'_id': 'Pakaian', 'total_produk': 55}

In [23]:
pipeline = [
    {'$group': {'_id': '$produk', 'average_harga': {'$avg': '$harga'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': None, 'average_harga': 950966.6666666666}

In [32]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://wilsco135:admin1234@cluster0.76dft.mongodb.net/')
db = client['company_db']
collection = db['new_employee']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [ ]:
employee_data = [
 {'name': 'Alice','department': 'Finance','age': 29,'salary': 4500},
 {'name': 'Ali','department': 'Finance','age': 28,'salary': 4600},
 {'name': 'Joko','department': 'Marketing','age': 31,'salary': 4000},
 {'name': 'John','department': 'Marketing','age': 28,'salary': 3800},
 {'name': 'Jane','department': 'Marketing','age': 24,'salary': 3700},
 {'name': 'Andi','department': 'Finance','age': 24,'salary': 4500},
 {'name': 'Jay','department': 'Marketing','age': 30,'salary': 4000},
 {'name': 'Rey','department': 'Marketing','age': 28,'salary': 3700},
 {'name': 'Didy','department': 'Finance','age': 28,'salary': 4600},
 {'name': 'Boy','department': 'Marketing','age': 30,'salary': 4000},
]
collection.insert_many(employee_data)
print('Data inserted')

Data inserted

In [ ]:
pipeline = [
    # Mengurutkan berdasarkan departemen dan gaji (desc)
    {"$sort": {"department": 1, "salary": -1}},
     # Menyimpan seluruh dokumen dalam array top_employees
    {"$group": {
        "_id": "$department",
        "top_employees": {"$push": "$$ROOT"}
    }},
    # Hanya mengambil 5 karyawan teratas per departemen
    {"$project": {
        "top_employees": {"$slice": ["$top_employees", 5]}
    }}
]

# Menjalankan pipeline
result = list(collection.aggregate(pipeline))

# Menampilkan hasil
for department in result:
    print(f"\nDepartemen: {department['_id']}")
    for employee in department['top_employees']:
        print(employee)

Departemen: Marketing
{'_id': ObjectId('672628c96ff05c16f38aa4dd'), 'name': 'Joko', 'department': 'Marketing', 'age': 31, 'salary': 4000}
{'_id': ObjectId('672628c96ff05c16f38aa4e1'), 'name': 'Jay', 'department': 'Marketing', 'age': 30, 'salary': 4000}
{'_id': ObjectId('672628c96ff05c16f38aa4e4'), 'name': 'Boy', 'department': 'Marketing', 'age': 30, 'salary': 4000}
{'_id': ObjectId('672628c96ff05c16f38aa4de'), 'name': 'John', 'department': 'Marketing', 'age': 28, 'salary': 3800}
{'_id': ObjectId('672628c96ff05c16f38aa4df'), 'name': 'Jane', 'department': 'Marketing', 'age': 24, 'salary': 3700}

Departemen: Finance
{'_id': ObjectId('672628c96ff05c16f38aa4dc'), 'name': 'Ali', 'department': 'Finance', 'age': 28, 'salary': 4600}
{'_id': ObjectId('672628c96ff05c16f38aa4e3'), 'name': 'Didy', 'department': 'Finance', 'age': 28, 'salary': 4600}
{'_id': ObjectId('672628c96ff05c16f38aa4db'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('672628c96ff05c16f38aa4e0'), 'name': 'Andi', 'department': 'Finance', 'age': 24, 'salary': 4500}

In [33]:
result = collection.delete_many({"age": {"$lt": 25}})
print("umur < 25 dihapus")

umur < 25 dihapus

In [34]:
for new_employee in collection.find():
    print(new_employee)

{'_id': ObjectId('672628c96ff05c16f38aa4dd'), 'name': 'Joko', 'department': 'Marketing', 'age': 31, 'salary': 4000}
{'_id': ObjectId('672628c96ff05c16f38aa4e1'), 'name': 'Jay', 'department': 'Marketing', 'age': 30, 'salary': 4000}
{'_id': ObjectId('672628c96ff05c16f38aa4e2'), 'name': 'Rey', 'department': 'Marketing', 'age': 28, 'salary': 3700}
{'_id': ObjectId('672628c96ff05c16f38aa4de'), 'name': 'John', 'department': 'Marketing', 'age': 28, 'salary': 3800}
{'_id': ObjectId('672628c96ff05c16f38aa4db'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('672628c96ff05c16f38aa4e4'), 'name': 'Boy', 'department': 'Marketing', 'age': 30, 'salary': 4000}
{'_id': ObjectId('672628c96ff05c16f38aa4dc'), 'name': 'Ali', 'department': 'Finance', 'age': 28, 'salary': 4600}
{'_id': ObjectId('672628c96ff05c16f38aa4e3'), 'name': 'Didy', 'department': 'Finance', 'age': 28, 'salary': 4600}

In [35]:
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$sum': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 13700}
{'_id': 'Marketing', 'average_salary': 19500}

In [ ]:
pipeline = [
    {'$group': {'_id': '$department', 'average_age': {'$avg': '$age'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_age': 28.333333333333332}
{'_id': 'Marketing', 'average_age': 29.4}

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://wilsco135:admin1234@cluster0.76dft.mongodb.net/')
db = client['company_db']
collection = db['new_employee']

# Hapus semua dokumen dalam koleksi
result = collection.delete_many({})

# Tampilkan jumlah dokumen yang dihapus
print("semua data dihapus")

semua data dihapus